<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Designer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/css/cards.css">
</head>

<body class="p-6">

    <!-- TOOLBAR -->
    <div class="flex justify-center gap-4 mb-8">
        <a href="/card-designer?type=character">Personaggio</a>
        <a href="/card-designer?type=class">Classe</a>
        <a href="/card-designer?type=weapon">Arma</a>
        <a href="/card-designer?type=armor">Armatura</a>
        <a href="/card-designer?type=magic">Magia</a>
        <a href="/card-designer?type=item">Oggetto</a>

        <select id="searchSelect" class="px-4 py-2 bg-[#1c1b1b] text-white border border-white/20 rounded w-80">
            <option value="">-- Seleziona carta --</option>
            {% for item in all_items %}
            <option value="{{ item.id }}">
                ID: {{ item.id }} - {{ item.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <!-- CARD CONTAINER -->
    <div class="flex justify-center">
        <div id="cardContainer"></div>
    </div>

    <div>
        <button id="downloadpng">Salva png</button>
    </div>

    <script>
        let ITEM = {{ item | tojson | safe }};
        let TYPE = {{ card_type | tojson | safe }};
        let ALL_ITEMS = {{ all_items | tojson | safe }};
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.11.13/html-to-image.js"></script>
    <script type="module" src="static/js/cards.js"></script>

</body>

</html>