<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Elden Ring TCG - Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>

    <!-- <h1>ELDEN RING TCG</h1> -->
     <div class="title">
        <img src="../static/src/misc/Elden-Ring-Logo-PNG-File.png" alt="">
        <img src="../static/src/misc/ChatGPT_Image_20_apr_2026__09_53_16-removebg-preview.png" alt="" class="tcg">
     </div>

    <div class="menu-container">
        <div class="start sep">
            <a href="" class="btn-menu play">PLAY</a>
        </div>

        <a href="/card-list?category=all" class="btn-menu">CARD LIST</a>

        <a href="#" class="btn-menu">DECKS</a>
        <a href="#" class="btn-menu">SHOP</a>

        <div class="end sep">
            <a href="#" class="btn-menu logout">LOG OUT</a>
        </div>
    </div>

</body>

</html>